.map {
    height: 100%;
    width: 100%;
}
body, html {
    height: 100%;
    padding: 0;
}

#center {  
    float:left;
    width:20%;
    margin-top:10px;
    height:90%;
}

.container {
    margin-top:3px;   
    height:100%;  
    border:2px solid #dedede; 
    width:600px;
}
#popup {
    padding-bottom: 15px;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

#legende{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 40px;
    border-left: 3px solid #C0C0C0;
    border-right: 3px solid #C0C0C0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.legendeBlock{
    width: 40px;
    height: 2px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                              not supported by any browser */
}

.legendeTextBlock{
    position:relative;
    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.scale-slider{
    cursor:ns-resize;
    width: 40px;
    height: 4px;
    background-color: LightGray;  
    z-index: 99;
}

.scale-slider-wrapper{
    width: 40px;
    height: 4px;
    background-color: #C0C0C0;  
}

.scale-slider-line{
    border-top: solid black 0.5px;
    height: 0px;
    margin: 0px;
    position: relative;
    top: 1px;
    width: 30px;
    left: 4px;
}

.RangeDisplay{
    background-color: #404040;
    color: white;
    position: absolute;
    font-size: smaller;
    padding: 5px;
}
